<div  class="reminder-item">
  <!-- {{#link-to 'reminders'}}
    <h1>{{reminder.number}}</h1>
  {{/link-to}} -->

  <h3>working</h3>
  <!-- <p>{{reminder.body}}</p>
  <p>{{reminder.date}}</p> -->
</div>


{{outlet}}
