<h1>remEMBER: SPLINTER</h1>

{{#each model as |reminder|}}
  <div  class="reminder-item">
    {{#link-to 'reminders.reminder' reminder}}
      <h3>{{reminder.title}}</h3>
    {{/link-to}}
    <p>{{reminder.body}}</p>
    <p>{{reminder.date}}</p>
  </div>
{{/each}}

{{outlet}}
